/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    color: white;
    background-color: #1a1a1a;
}
.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
header {
    height: 45px;
}
main {
    height: calc(100vh - 105px);
}
footer {
    height: 60px;
}
/* header */
.header-left > i {
    color: #23d959;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
}
.header-left > .recording {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 5px;
    margin-left: 5px;
}
.recording > img {
    height: 15px;
    vertical-align: middle;
}
header {
    padding: 0 5px 0 5px;
}
.header-right {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 8px;
    border-radius: 5px;
}
.header-right i {
    vertical-align: sub;
}

/* main */
.row-left {
    width: 10%;
}
.row-left > .change-page {
    height: 90px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: gray;
    background-image: linear-gradient(#212121, #060606);
    border-color: #060606;
    margin-left: 5px;
}
.row-left > .change-page > i {
    color: #2dbaff;
    font-size: 50px;
    transform: translate(-5px, -5px);
}

/* footer */
footer {
    padding: 0 40px 0 40px;
    background-color: rgba(255, 255, 255, 0.1);
}
.nav-left > .mic {
    margin-right: 40px;
}
.nav-left, .nav-center {
    text-align: center;
}
footer i:first-child {
    font-size: 25px;
}
.nav-left .fa-angle-up {
    right: -30px;
}
.nav-center > div {
    margin: 0 20px 0 20px;
}
.nav-center > .pause-stop i:last-child {
    font-size: 25px;
}
.nav-center > .screen {
    color: #23d959;
}
.nav-center .fa-angle-up {
    right: -40px;
}
footer > .end-call {
    background-color: #e02828;
    padding: 5px 25px 10px 25px;
    border-radius: 5px;
    color: white;
    border: none;
}
