/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    color: white;
    background-color: #1a1a1a;
}
.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    height: 45px;
}
main {
    height: calc(100vh - 95px);
}
footer {
    height: 50px;
}
/* header */
.header-left > i {
    color: #23d959;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
}
.header-left > .recording {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 5px;
    margin-left: 5px;
}
.recording > img {
    height: 15px;
    vertical-align: middle;
}
header {
    padding: 0 5px 0 5px;
}
.header-right {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 8px;
    border-radius: 5px;
}
.header-right i {
    vertical-align: sub;
}
